.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width : 1023px) {
  .mobile-visible {
    display: visible !important;
  }
  .desktop-visible {
    display: none !important;
  }
  .footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    font-feature-settings: 'salt' on, 'liga' off;
    
    color: rgba(255, 255, 255, 0.8);
  }
  .footer-logo-text {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }
}
@media only screen and (min-width : 1024px) {
  .mobile-visible {
    display: none !important;
  }
  .desktop-visible {
    display: visible !important;
  }
  .footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    font-feature-settings: 'salt' on, 'liga' off;

    color: rgba(255, 255, 255, 0.8);
  }
}